<div class="container mt-4">
  <!-- Home Page Content -->
  <h2 style="font-size: 50px; font-family: Arial, sans-serif;font-weight: 600;">Welcome to Hospital App</h2>
  <p style="font-size: 18px; font-family: Arial, sans-serif;color: green;">
    Providing Quality Healthcare for a Healthier Tomorrow
  </p>
  <img src="assets/home.jpg" alt="Homepage Image" width="1500">
  
  <!-- Contact Details Section -->
  <div class="mt-4">
    <h3 style="background-color:darkgreen; text-align: center;color: aliceblue;">Contact Details</h3>
    <p><strong>Address:</strong> 123 Hospital Street, Muscat, Bowsher</p>
    <p><strong>Phone:</strong> +1 (123) 456-7890</p>
    <p><strong>Email:</strong> info@hospitalapp.com</p>
  </div>
</div>
