<div class="container mt-4">
  <h2>Welcome, Admin</h2>
  <div class="row">
    <div class="col-md-6">
      <!-- Manage Doctors Card -->
      <div class="card">
        <img src="assets/mdoctors.png" class="card-img-top" alt="Doctor Image">
        <div class="card-header" style="background-color: gainsboro;font-weight: 700;">
          Manage Doctors
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/admin/users">View Doctors</a>
            </li>
            <!-- Add more options for managing doctors -->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Manage Appointments Card -->
      <div class="card">
        <img src="assets/mdoctors.png" class="card-img-top" alt="Appointment Image">
        <div class="card-header" style="background-color: gainsboro;font-weight: 700;">
          Manage Appointments
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a routerLink="/admin/appointments">View Appointments</a>
            </li>
            <!-- Add more options for managing appointments -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
