<div class="container mt-4">
  <h2>Welcome, Doctor!</h2>
  <div class="row">
    <div class="col-md-4">
      <!-- Card 1: Manage Patients -->
      <div class="card">
        <img src="assets/patint.png" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <h5 class="card-title">Manage Patients</h5>
          <p class="card-text">Manage your patients' information and appointments.</p>
          <a routerLink="/patients" class="btn btn-primary">Go to Patients</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Card 2: View Appointments -->
      <div class="card">
        <img src="assets/view2.png" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <h5 class="card-title">View Appointments</h5>
          <p class="card-text">View and manage your scheduled appointments.</p>
          <!-- Add a routerLink for View Appointments here -->
          <a routerLink="//admin/appointments" class="btn btn-primary">Go to Appointments</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Card 3: Prescribe Medications -->
      <div class="card">
        <img src="assets/med.png" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <h5 class="card-title">Prescribe Medications</h5>
          <!-- Add a routerLink for Prescribe Medications here -->
          <a routerLink="/manage-prescriptions" class="btn btn-primary">Prescribe Medications</a>
        </div>
      </div>
    </div>
  </div>
</div>
